@mixin important-text {
  color: #f5f5f5;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid rgb(38, 38, 41);
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//  Start

@mixin box($width, $height) {
  width: $width;
  height: $height;
  border-radius: 4px;
}

@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

//  Font

@mixin font-size($font-size, $letter-spacing: normal) {
  font: 400 $font-size "Play";
}

@mixin a-button($base, $hover, $link) {
  a {
    background-color: $base;
    color: white;
    border-radius: 3px;
    margin: 2px;

    &:hover {
      color: $hover;
    }

    &:visited {
      color: $link;
    }
  }
}

//   Before

@mixin label($text: "Code", $background: $yellow, $color: rgba(black, 0.5)) {
  position: relative;
  &:before {
    background: $background;
    color: $color;
    content: $text;
    display: inline-block;
    font-size: 0.6rem;
    font-weight: 700;
    height: 1rem;
    left: 0;
    letter-spacing: 0.1em;
    line-height: 1rem;
    padding: 0 0.5em;
    position: absolute;
    text-transform: uppercase;
    top: 0;
  }
}
