// max-width: 767px (any screen up to 767px wide)
// min-width: 768px (any screen more than 768px wide)
// min-width: 992px (any screen more than 992px wide)
// min-width: 1200px (any screen more than 1200px wide)

.fukol-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fukol-grid > * {
  flex: 1 0 5em;
  margin: 0.5em;
}

.class {
  display: flex;
  justify-content: space-between;
}

.overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid {
  display: grid;
  place-items: center;
  height: 100vh;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate (-50%, -50%);
}

label,
button,
input,
select {
  cursor: pointer;
}

//   Truncation

.ellipsis {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncated {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 15rem;
}
