@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

:root {
  --color-background: #fcfcfc;
  --color-text: #2d2d33;
}

.dark-mode {
  --color-background: #2d2d33;
  --color-text: #fcfcfc;
}

.to_bottom {
  background: var(--color-background);
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: var(--color-background);
  color: var(--color-text);
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

header {
  position: fixed;
  top: -50px;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background: none;
  z-index: 999;
  opacity: 0;
  -webkit-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.267);
          box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.267);
}

header.faded {
  opacity: 1;
  top: 0;
  background: rgba(0, 0, 0, 0.267);
}

.menu_logo {
  z-index: 9999;
  position: fixed;
  top: 25px;
  left: 100px;
  font: 24px "Yellowtail";
  letter-spacing: 0.4px;
  cursor: pointer;
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu_logo:hover {
  color: #fa4c46;
}

.menu_icon {
  z-index: 9999;
  position: fixed;
  top: 30px;
  right: 140px;
  width: 40px;
  height: 20px;
  text-align: center;
  font-weight: lighter;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu_icon .line {
  width: 85%;
  height: 3%;
  background: var(--color-text);
  -webkit-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu_icon .toggle_line_1 {
  -webkit-transform: rotate(45deg) translate(7px, 0);
          transform: rotate(45deg) translate(7px, 0);
}

.menu_icon .toggle_line_2 {
  -webkit-transform: rotate(-45deg) translate(7px, 0);
          transform: rotate(-45deg) translate(7px, 0);
}

.nav__list {
  position: fixed;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: var(--color-background);
  top: -30%;
  right: 0;
  opacity: 0;
  display: inline-block;
  text-align: right;
  padding: 100px 0 0 0;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav__list li {
  margin-right: 130px;
}

.nav__list li a {
  margin-bottom: 15px;
  border-bottom-style: none;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
  color: var(--color-text);
  font: 700 28px "Bebas Neue";
  line-height: 2em;
  letter-spacing: 1px;
  text-decoration: none;
  -webkit-transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.nav__list li a:hover {
  color: #fa4c46;
}

.nav__list.nav__active {
  opacity: 1;
  z-index: 999;
  top: 0;
}

.color-switch {
  position: fixed;
  bottom: 60px;
  right: 140px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: none;
  z-index: 99;
  cursor: pointer;
  -webkit-transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.color-switch:hover {
  color: #fa4c46;
}

.body_line_all {
  position: absolute;
  top: 0;
  left: 23%;
  width: 1px;
  height: 130%;
  z-index: 1;
  background: var(--color-text);
}

section {
  position: relative;
  width: 100%;
  min-height: 95vh;
}

.somnia {
  width: initial;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.somnia h1 {
  font: 700 7em "Bebas Neue";
  letter-spacing: 8px;
}

.somnia p {
  padding: 0 0 20px 0;
  text-align: center;
  width: 400px;
  font: 500 17px "play";
  letter-spacing: 1px;
  line-height: 22px;
}

.b-dark {
  margin: 0 auto;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 20px;
  grid-auto-flow: dense;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-dark .block {
  position: relative;
  background: #fa4c46;
  width: 400px;
  height: 600px;
  border-radius: 4px;
  padding: 20px 40px;
  z-index: 9;
  background: url("../img/istockphoto-1061119906-612x612.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
}

.b-dark .block:nth-child(2) {
  background: url("../img/minimalistic.jpg");
}

.b-dark .block .section {
  position: relative;
  background: var(--color-background);
  color: var(--color-text);
  padding: 30px 20px;
  font-family: "Play";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.b-dark .block .section img {
  width: 100%;
  height: auto;
}

.b-dark .block .section p {
  font: 400 17px "Play";
  padding: 20px 0;
  text-align: center;
}

.b-dark .block .section h3 {
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding: 10px 0;
}

.b-dark .block .section a {
  display: block;
  padding: 11px 28px;
  font: 700 16px "Play";
  background: #fa4c46;
  color: var(--color-text);
  border-radius: 4px;
}

.b-dark .block .section span {
  font: 400 14px "Play";
  background: #fa4c46;
  color: #fcfcfc;
  padding: 1em 2em;
  text-align: justify;
  border-radius: 4px;
}

.b-red {
  width: 98%;
  text-align: center;
}

.b-red h2 {
  margin-top: 60px;
  display: inline-block;
  font: 400 38px "Oswald";
}

.b-red .change_text {
  display: block;
  color: #fa4c46;
  margin: 12px 0 80px 0;
  font: 600 32px "Oswald";
}

.grid-smash {
  position: relative;
  max-width: 1300px;
  height: auto;
  margin: 0 auto;
  padding: 20px 60px;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

.grid-smash .panel__content {
  position: relative;
  border-radius: 10px;
  padding: 20px 40px 40px;
  overflow: hidden;
  z-index: 88;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-smash .panel__content:nth-child(1) {
  background: url("https://images.ctfassets.net/rporu91m20dc/2OJbYNR1jGuKc0akweMGQK/5ec7e4aaddb887a9478d5c412296f659/DOOM-Eternal_KeyArt_3_1920x1080.jpg");
}

.grid-smash .panel__content:nth-child(3) {
  background: url("https://www.allkeyshop.com/blog/wp-content/uploads/The-Witcher-3-wild-hunt-game-image-04-e1494907482251.jpg");
}

.grid-smash .panel__content h1 {
  padding: 4px 18px;
  background: var(--color-background);
  letter-spacing: 1px;
}

.grid-smash .panel__content p {
  margin-top: 30px;
  font-size: 18px;
  line-height: 24px;
  padding: 20px;
  background: var(--color-background);
}

.b-forth {
  background: #26273a;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (minmax(600px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-auto-flow: dense;
  font-family: "Play";
}

.b-forth .integrated h1 {
  width: 400px;
  margin: 60px 20px;
  text-align: left;
  font-size: 37px;
  letter-spacing: 1.5px;
  color: #fff;
}

.b-forth .integrated span {
  margin-left: 30px;
  background: var(--color-background);
  padding: 10px 19px;
  border-radius: 6px;
}

.b-forth .integrated p {
  margin: 40px 20px;
  width: 400px;
  color: #fff;
  font: 400 17px "play";
}

.b-forth .integrated .black-box {
  position: relative;
  background: var(--color-background);
  padding: 30px 20px;
  max-width: 550px;
  width: 500px;
  min-height: 0px;
  margin: 40px 0 30px 150px;
  border-style: none;
  border-radius: 6px;
  -webkit-box-shadow: 0 10px 10px 0 rgba(2, 11, 44, 0.04);
          box-shadow: 0 10px 10px 0 rgba(2, 11, 44, 0.04);
  opacity: 0;
  -webkit-transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.b-forth .integrated .black-box:nth-child(2) {
  -webkit-transition: 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.b-forth .integrated .black-box.dr_box {
  margin-left: 0;
  opacity: 1;
}

.b-forth .integrated .black-box h3 {
  margin: 0 0 25px 0;
  font: 700 29px "Bebas Neue";
  letter-spacing: 1.3px;
  text-transform: capitalize;
}

.b-forth .integrated .black-box ul li {
  margin-top: 10px;
  display: block;
  font: 600 15px "Play";
}

@media (max-width: 1200px) {
  .menu_logo {
    left: 70px;
  }
  .menu_icon {
    right: 80px;
  }
  .color-switch {
    right: 80px;
  }
}

@media (max-width: 764px) {
  .block {
    width: 350px;
    height: auto;
    border-radius: 4px;
    padding: 20px;
  }
  .block .section {
    padding: 15px;
  }
  .block .section p {
    font-size: 15px;
  }
  .block .section span {
    font-size: 12px;
  }
}
/*# sourceMappingURL=sample.css.map */