@import "_mixin.scss";
@import "_any.scss";

@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
// font-family: 'Play', sans-serif;

$bg-col: rgb(250, 76, 70);
$text-col: rgb(39, 36, 36);
$in-col: rgb(252, 252, 252);

:root {
  --color-background: #{$in-col};
  --color-text: #{$text-col};
}

.dark-mode {
  --color-background: #{$text-col};
  --color-text: #{$in-col};
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: var(--color-background);
  color: var(--color-text);
}

.color-switch {
  position: fixed;
  bottom: 60px;
  right: 40px;
  outline: none;
  background: none;
  &:before {
    content: "";
    display: block;
    opacity: 1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(248, 99, 99);
    cursor: pointer;
  }
}

.block {
  position: relative;
  background: $bg-col;
  @include centered;
  @include box(460px, 600px);
  padding: 20px 40px;

  background: url("../img/istockphoto-1061119906-612x612.jpg");
  @include cover-background;
  @include flex-center;

  .section {
    position: relative;
    background: var(--color-background);
    color: var(--color-text);
    padding: 30px 20px;
    font-family: "Play";
    @include flex-center;

    p {
      @include font-size(17px, 2px);
      padding: 20px 0;
      text-align: center;
    }

    h3 {
      text-align: center;
      text-transform: uppercase;
      display: block;
      width: 100%;
      padding: 10px 0;
    }
    a {
      display: block;
      padding: 11px 28px;
      font: 700 16px "Play";
      background: $bg-col;
      color: rgb(252, 255, 60);
      border-radius: 4px;
    }

    span {
      @include font-size(14px, 1px);
      background: $bg-col;
      color: $in-col;
      padding: 1em 2em;
      text-align: justify;
      border-radius: 4px;
    }
  }
}

@media (max-width: 764px) {
  .block {
    @include box(350px, auto);
    padding: 20px;
    .section {
      padding: 15px;
      p {
        font-size: 15px;
      }
      span {
        font-size: 12px;
      }
    }
  }
}
